.container {
  padding-top: 11rem;
  transition: all 0.2s ease-in-out;

  .header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #ddd;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    .title {
      font-size: 3rem;
      border-bottom: 2px solid #ddd;
    }
    .nutrition_info {
      padding: 3rem 0;
      .info {
        margin-right: 2rem;
        font-size: 1.5rem;
      }
    }
  }

  .ingredient_area {
    padding: 2.5rem 0;
    text-align: center;
    border-bottom: 2px solid #ddd;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    .ingredient {
      font-size: 1.5rem;
      line-height: 4.5rem;
    }
  }

  .content_area {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #ddd;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    .recipe_menual {
      font-size: 1.5rem;
      line-height: 4.5rem;
      margin: 1rem 0;
    }
  }

  .image {
    box-shadow: rgba(100, 103, 106, 0.2) 0px 8px 24px;
    border-radius: 10px;
  }

  .tip_area {
    margin-top: 2rem;
    padding-bottom: 3rem;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    .tip {
      font-size: 1.5rem;
      line-height: 4rem;
    }
  }
}
