.board_container {
  padding-top: 11rem;
  .write_button_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 0.7rem;
  }

  .ul {
    padding: 0 0.6rem;
  }

  .li {
    list-style: none;
    padding: 0px 2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: var(--border);
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: perspective(500px) translateZ(5px);
    }
    .navLink {
      width: 90%;
      padding: 1.9rem 2rem;
      margin-bottom: 0.3rem;
      .title {
        margin-bottom: 1.4rem;
      }
      .content {
        font-size: 0.9rem;
        color: #888;
        margin-right: 0.5rem;
      }
    }
  }
}

.image {
  box-shadow: rgba(100, 103, 106, 0.2) 0px 8px 24px;
  border-radius: 10px;
}
