html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

body.darkMode {
  --background-color: #333;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.inner-box {
  max-width: 82rem;
  margin: 0 auto;
  padding: 7rem 0 5rem 0;
}
