@use "./styles/dark-mode.scss" as *;

body {
  margin: 0;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inner-box {
  width: 90%;
  margin: 0 auto;
  padding: 7rem 0 1.5rem 0;
}

.back-ground {
  background-color: var(--background-color);
  transition: all 0.2s ease-in-out;
}
