.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 3.7rem;
  background-color: var(--input-background-color);
  box-sizing: border-box;
  border-top: 1px solid #dddddd;
  box-shadow: rgba(0, 0, 0, 0.2) -4px 9px 25px -1px;
  transition: all 0.2s ease-in-out;

  .listArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    .icon {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.2) -4px 9px 25px -10px;
      transition: all 0.2s ease-in-out;
      font-weight: 580;
      color: var(--text-color);
      &:hover {
        transform: perspective(300px) translateZ(50px);
      }
    }
  }
}
