.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 8rem;
  padding: 1rem;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: perspective(100px) translateX(-5px);
  }
  .back {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.editorContainer {
  margin: auto;
  padding: 1.5rem 1rem;

  .contentContainer {
    display: flex;
    justify-content: center;

    .imageUploadContainer {
      position: relative;
      background-color: var(--input-background-color);
      border-radius: 20px;
      width: 20%;
      height: 25.8em;
      margin-right: 1rem;
      box-sizing: border-box;
      box-shadow: #00000059 0px 1px 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        transform: perspective(100px) translateZ(5px);
      }
      .imgWrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        .image {
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      }
      .camera {
        width: 50%;
        cursor: pointer;
      }
    }
  }

  .writingContainer {
    box-sizing: border-box;
    width: 80%;

    .title {
      width: 100%;
      background-color: var(--input-background-color);
      color: var(--text-color);
      padding: 0.8rem 0 0.8rem 1.3rem;
      font-size: 1.3rem;
      border: 1px solid rgb(203, 203, 203);
      margin-bottom: 0.7rem;
      border-radius: 10px;
      box-sizing: content-box;
      transition: all 0.2s ease-in-out;
    }
  }

  .buttonArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
  }
}
