.detail_container {
  padding: 11rem 0 6rem 0;
  transition: all 0.2s ease-in-out;

  .header {
    border-bottom: 2px solid #ddd;
    padding-bottom: 2rem;
    margin-bottom: 7rem;

    .headerTitle {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      color: var(--title-color);
      font-weight: bold;
    }

    .title {
      padding-top: 1rem;
      margin-bottom: 3.2rem;
      color: var(--text-color);
    }

    .info {
      margin-top: 1rem;
      color: var(--text-color);
      .id {
        font-weight: 600;
      }
      .date {
        opacity: 0.7;
      }
      .button {
        font-size: 1.1rem;
        color: #888;
        margin: 0 1rem 0 0;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          border-bottom: 1px solid #888;
        }
      }
    }
  }

  .content {
    color: var(--text-color);
    overflow-x: auto;
    clear: both;
    font-size: 1.15rem;
    line-height: 1.45;
    word-break: break-all;
    word-wrap: break-word;
    border-bottom: 2px solid #ddd;
    margin-bottom: 3rem;
  }
}
