.header {
  position: fixed;
  top: 0;
  height: 5.5rem;
  width: 100%;
  border-bottom: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.2) -4px 9px 25px -23px;
  z-index: 5;
  background-color: var(--background-color);
  transition: all 0.2s ease-in-out;
}

.headerBox {
  position: fixed;
  padding: 0.8rem 0;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleArea {
  width: 33%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.title {
  color: var(--title-color);
  cursor: pointer;
  font-size: 1rem;
}

.recipeSearchArea {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.recipeSearchLink {
  border: none;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #ddd;
  transition: all 0.2s ease-in-out;
}

.text {
  font-size: 0.8rem;
}

.recipeSearchLink:hover {
  transform: perspective(300px) translateZ(10px);
  background-color: #cbd0d3;
}

.headerButtonArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 33%;
  box-sizing: border-box;
}

.menuButton {
  border: none;
  padding: 7px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: var(--background-color);
  margin-left: 15px;
  transition: all 0.2s ease-in-out;
}

.menuButton:hover {
  box-shadow: rgba(0, 0, 0, 0.3) -4px 9px 25px -15px;
  transform: perspective(300px) translateZ(15px);
}

.iconButton {
  margin-right: 4px;
  border: none;
  border-radius: 10px;
  background-color: var(--background-color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.moon {
  font-size: large;
}

.iconButton:hover {
  background-color: rgb(238, 238, 238);
  transform: perspective(150px) translateZ(25px);
}

.icon {
  padding: 5px;
  color: var(--text-color);
}
