.menuContainer {
  position: fixed;
  width: 20%;
  background-color: var(--background-color);
  border: 1px solid rgb(186, 185, 185);
  z-index: 100;
  top: 10.5%;
  right: 5%;
  border-radius: 17px;
  overflow: hidden;
  padding: 15px 0px;
  box-shadow: rgb(198, 197, 197) -1px 2px 30px -25px;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.menu {
  cursor: pointer;
  list-style: none;
  font-weight: 600;
  padding: 5px 5px 5px 15px;
  z-index: 50;
}

.menu:hover {
  background-color: rgb(238, 238, 238);
  color: black;
}

.menuLink {
  display: block;
  padding: 12px 5px;
  width: 100%;
}
