.container {
  position: absolute;
  background-color: var(--background-color);
  width: 100%;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  padding: 20px;
}

.li {
  font-size: 17px;
  font-weight: 600;
  padding: 10px 7px 10px 7px;
  border-radius: 48%;
  width: 25px;
  margin: 2px;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: var(--submit-background-color);
    transform: translateY(-2px);
  }
  &[disabled] {
    color: white;
    background-color: var(--submit-background-color);
  }
}

.next {
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin-left: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--submit-background-color);
    color: white;
    cursor: pointer;
    transform: translateY(-2px);
  }
  &[disabled] {
    display: none;
  }
}

.back {
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin-right: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--submit-background-color);
    color: white;
    cursor: pointer;
    transform: translateY(-2px);
  }
  &[disabled] {
    display: none;
  }
}
