.commentWrap {
  padding: 15px 100px;

  .inputWrap {
    margin: 10px 0px;

    .buttonArea {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 98.5%;
    }
  }

  .input {
    outline-style: none;
    resize: none;
    border: var(--border);
    border-radius: 20px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    font-size: 17px;
    padding: 30px;
    left: 10%;
    width: 95%;
    height: 5em;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: auto;
    cursor: pointer;
  }

  .comment {
    padding: 20px 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    .content {
      font-size: 19px;
      line-height: 1.6;
      margin: 28px 1px;
      white-space: pre-wrap;
    }

    .text {
      color: #888;
      margin-right: 8px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .button {
        color: #888;
        margin-right: 8px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          border-bottom: 1px solid #888;
        }
      }
    }
  }
}
