.editor-container {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-upload__container {
    position: relative;
    background-color: rgb(232, 231, 231);
    border-radius: 20px;
    width: 25%;
    height: 25.8em;
    margin-right: 2%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    box-shadow: #00000059 0px 1px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.image-upload__container:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: perspective(100px) translateZ(5px);
}

.camera-icon {
    width: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.writing-container {
    box-sizing: border-box;
    width: 55%;
}

.editor-title {
    width: 45%;
    background-color: #fff;
    padding: 10px 0px 10px 20px;
    font-size: 16px;
    border: 1px solid rgb(203, 203, 203);
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: content-box;
}
.content {
    width: 100%;
}
.content .ql-toolbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.content .ql-container {
    height: 18.5em;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.writing-button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.writing-button__container button {
    flex: 0.3;
    box-sizing: border-box;
}

.writing-button__delete {
    margin-right: 40px;
}

