.editor-container {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
}

.editor-form {
    display: flex;
    justify-content: center;
}



.image-upload__container {
    background-color: #ddd;
    border-radius: 20px;
    width: 30%;
    height: 400px;
    margin: 30px;
    box-sizing: border-box;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.image-upload__container:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


.camera-icon {
    position: absolute;
    top: 37%;
    left: 38%;
    cursor: pointer;
}

.writing-container {
    box-sizing: border-box;
    width: 70%;
}

.editor-title {
    background-color: #fff;
    width: 100%;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    border: 1px solid whitesmoke;
    margin-bottom: 10px;
}

.content {
    background-color: #fff;
    width: 98.8%;
    height: 23em;
    padding: 20px;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    border: 1px solid whitesmoke;
    resize: none;
}

.content:focus {
    outline: none;
}

