.my-page {
    position: absolute;
    background-color: #fff;
    top: 12.5%;
    left: 0%;
    height: 87%;
    width: 20%;
    position: fixed;
    border: 1px solid #ddd;
    box-shadow: #ddd 0px 0px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-component__name {
    text-align: center;
}

.icon-row {
    border-top: 1px solid rgb(201, 201, 201);
    padding-top: 30px;
}

.icon-row__icon {
    margin-bottom: 20px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.icon-row__icon:hover {
    color: #1abc9c;
}

.user-icon {
    margin-right: 10px;
}

.icon-row__icon span {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.heart {
    color: rgb(212, 2, 2);
}

.smile {
    color: rgb(225, 225, 4);
}
