.user-search__form {
    display: flex;
    align-items: center;
}

.writing-icon {
    margin-left: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) -4px 9px 25px -10px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.writing-icon:hover {
    animation: bounce 0.4s ease-in-out;
}

.sroll-to-top:hover {
    animation: bounce 0.3s ease-in-out;
}

.user-search__input:hover {
    border-bottom: 2px solid rgba(0, 0, 0 ,0.6);
}

.user-search__input:focus {
    border-bottom: 2px solid black;
}