.content {
  width: 100%;
  background-color: var(--input-background-color);
}
.content,
.ql-toolbar {
  background-color: var(--input-background-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.content .ql-container {
  height: 45.5em;
  font-size: 1.3rem;
  color: var(--text-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
